module.exports = {
  secret: process.env.SECRET,
  dburl: process.env.DB_URL,
  mailApi: 'secret-mail-api',
  siteName: process.env.SITE_NAME,
  domain: 'bacsbd.org',
  subdomain: 'cpps2',
  recaptcha: {
    site: 'some-site',
    secret: 'some-secret',
  },
  ojscraper: {
    loj: {
      credential: {
        userId: 'some-id',
        password: 'some-password',
      },
    },
  },
};
